/* Null styles */

* {padding: 0;margin: 0;border: 0;font-family: 'Roboto', sans-serif;}
*,*:before,*:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
a:focus,a:active {outline: none;}
nav,footer,header,aside,label {display: block;}
html,body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}

/* ============================== */

/* Work classes */
.lock_scroll {overflow-y: hidden;}


/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1C1C1C;
    z-index: 5;
}

.head_container {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: center;
    margin: 0 33px;
}

.catalog_btn {
    background-color: #525252;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: .2s ease-in-out;
    padding: 1px 16px;
    margin: 0 25px 0 0;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.catalog_btn i {
    width: 23px;
    font-size: 18px;
    margin-right: 12px;
}

.catalog_btn:hover {
    background-color: #808080;
}

.head_logo {
    display: block;
    height: 40px;
}

.head_container>a {
    margin-right: 24px;
}

.head_logo:first-child {
    display: none;
}

.head_logo:last-child {
    display: block;
}

.menu_btn {
    min-width: 40px;
    min-height: 40px;
    background-color: #1C1C1C;
    border: none;
    border-radius: 4px;
    transition: .2s ease-in-out;
    margin: 0 15px 0 0;
}

.menu_btn span,
.menu_btn::before,
.menu_btn::after {
    content: "";
    display: block;
    width: 22px;
    height: 2px;
    margin: 6px auto;
    border-radius: 4px;
    background-color: #fff;
}

.menu_btn:hover {
    background-color: #525252;
}

.search_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 53%;
    background-color: #fff;
    border: none;
    border-radius: 4px;
}

.search_form_back.ls_menu_back {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .5s ease;
}

.search_form_container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 90%;
}

.search_field_container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_field {
    height: 100%;
    width: 90%;
    border: none;
    border-radius: 0px 4px 4px 0px;
    padding: 0 10px 0 0;
    outline: none;
    font-size: 15px;
}

.search_results {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    background-color: #fff;
    top: 0px;
    margin: 40px 0 0 0;
    border-radius: 0px 0px 4px 4px;
}

.search_results_list {
    padding: 7px 0;
    border-top: 1px solid #D7D7D7;
}

.search_results_list li a {
    display: block;
    padding: 10px 0 10px 20px;
    color: #808080;
}

.search_results_list li a span {
    color: #000;
}

.search_results_list li a:hover {
    background-color: #e7e7e7;
}

.search_clear_btn {
    display: none;
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #1F75FE;
    font-size: 14px;
}

.search_clear_btn:hover {
    color: #f80000;
}

.search_micro {
    width: 37px;
    height: 50%;
    background-color: #fff;
    border: none;
    border-left: 1px solid #D7D7D7;
    padding: 1px 14px 1px 13px;
    color: #1F75FE;
    font-size: 10px;
    transition: .1s ease-in-out;
}

.search_micro:hover {
    color: #f80000;
    opacity: .8;
}

.search_btn {
    height: 100%;
    min-width: 85px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    color: #fff;
    background-color: #0000FF;
    font-size: 16px;
    transition: .2s ease-in-out;
}

.search_btn:hover {
    background-color: #1F75FE;
}

.user_actions {
    width: auto;
    min-width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 25px;
}

.prem_offer {
    background-color: #1C1C1C;
    color: #D7D7D7;
    border: none;
    border-radius: 4px;
    font-size: 10px;
    transition: .2s ease-in-out;
    padding: 2px 4px;
}

.prem_offer div {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4B0082;
    color: #FDE910;
    font-size: 10px;
    border-radius: 10% / 100%;
    margin: 3px 0 0 0;
    padding: 3px;
}

.prem_offer:hover,
.user_acc:hover,
.user_orders:hover {
    background-color: #525252;
}

.user_acc,
.user_orders {
    min-width: 40px;
    min-height: 40px;
    border-radius: 4px;
    background-color: #1C1C1C;
    border: none;
    color: #fff;
    font-size: 20px;
    transition: .2s ease-in-out;
    text-align: center;
    margin: 0 0 0 20px;
}

.user_orders i {
    margin: 0 2px 0 0;
}


/* Catalog */
.catalog_head.login_head {
    display: none;
}

.catalog_pop.popup {
    position: fixed;
    display: flex;
    align-items: flex-start;
    z-index: 4;
}

.catalog_container.popup_container {
    display: flex;
    flex-direction: row;
    height: 85%;
    max-height: 550px;
    width: 96%;
    max-width: 1535px;
    margin: 70px 0 0 0;
    overflow: hidden;
}

.catalog_categories {
    padding: 20px 5px;
    width: 280px;
    height: auto;
    font-size: 16px;
}

.catalog_categories>ul li {
    width: 280px;
    line-height: 20px;
    padding: 4px;
    margin: 0;
    border-radius: 4px;
}

.catalog_categories>ul li a {
    display: inline-flex;
    width: 100%;
    color: #174fa8;
}

.catalog_categories>ul li a::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f105";
    font-size: 14px;
    color: #174fa8;
    margin: auto 5px auto auto;
}

.catalog_categories>ul li:hover a::after {
    color: #f80000;
}

.catalog_categories>ul li:hover a span {
    color: #f80000;
    text-decoration: underline;
}

.catalog_categories>ul li i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    width: 36px;
}


.catalog_products {
    margin: 5px 5px 5px 15px;
}

.to_all_categories {
    width: 100%;
    display: none;
}

.product_catalog {
    display: none;
    padding: 0 7px 5px 7px;
    overflow: auto;
}

.catalog_products ul {
    width: 250px;
    margin: 0 50px 0 0;
}

.catalog_products ul li .category_link {
    display: block;
    margin: 10px 0 7px 0;
    font-size: 18px;
    color: #174fa8;
}

.catalog_products ul li a {
    display: block;
    margin: 5px 0;
    color: #525252;
}

.catalog_products ul li a:hover {
    color: #f80000;
    text-decoration: underline;
}


/* Log In Popup */
.close {
    opacity: 0;
    visibility: hidden;
}

.popup {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s ease-in-out;
    overflow: hidden;
    z-index: 6;
}

.popup_container {
    display: flex;
    flex-direction: column;
    width: 49%;
    max-width: 700px;
    height: auto;
    max-height: 80%;
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 0 0 30px #525252;
    overflow: hidden;
}

.login_head {
    min-height: 57px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: #2b2b2b;
    border-bottom: 1px solid #e7e7e7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
}

.login_head button {
    height: 56px;
    width: 61px;
    background-color: #fff;
    border: none;
    border-radius: 7px;
    font-size: 20px;
    color: #808080;
    transition: .1s ease-in-out;
}

.login_head button:hover {
    color: #f80000;
}

.login_body {
    height: 100%;
    display: flex;
    overflow: auto;
    padding: 20px 25px;
    min-width: 270px;
}

.login_form,
.signin_form {
    display: none;
    width: 60%;
    height: 100%;
}

.login_form.visible,
.signin_form.visible {
    display: flex;
}


.login_form form,
.signin_form form {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 12px;
    padding: 0 32px 0 0;
    border-right: 1px solid #D7D7D7;
    font-family: 'Roboto', sans-serif;
    color: #808080;
}

.form_or {
    display: inline-flex;
    align-items: center;
    color: #808080;
    height: 20px;
    background-color: #fff;
    position: absolute;
    left: 98%;
    top: 50%;
    text-align: center;
}

.email_inp,
.pass_inp {
    width: 100%;
    height: 40px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    outline: none;
    padding: 5px 13px;
    font-size: 14px;
    margin: 5px 0 15px 0;
    transition: .2s ease-in-out;
}

.pass_inp {
    width: 86%;
}

.email_inp.border_inp:hover,
.pass_inp.border_inp:hover {
    border-color: #808080;
}


.see_pass {
    width: 10%;
    height: 20px;
    background-color: #fff;
    border: none;
    color: #1F75FE;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    margin: 0 3px;
}

.see_pass:hover {
    color: #ff3b3b;
}

.help_buttons {
    font-size: 14px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.help_buttons div {
    display: flex;
    align-items: center;
}

.remember_me {
    appearance: none;
    cursor: pointer;
    margin: 0;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s linear;
}

.remember_me:hover {
    border-color: #1C1C1C;
}

.remember_me::after {
    font-family: "Font Awesome 5 Pro";
    content: "\f00c";
    font-size: 10px;
    color: #fff;
    display: none;
}

.remember_me:checked {
    background-color: #0000FF;
    border: none;
}

.remember_me:checked::after {
    display: block;
}

.remind_pass {
    text-decoration: none;
    color: #1F75FE;
}

.remind_pass:hover {
    color: #f80000;
    text-decoration: underline;
}

.login_btn {
    width: 100%;
    height: 45px;
    background-color: #0000FF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin: 15px 0 0 0;
    transition: .2s ease-in-out;
}

.login_btn:hover {
    background-color: #1F75FE;
}

.register_link_container {
    width: 100%;
    text-align: center;
    margin: 15px 0 0 0;
}

.register_link {
    font-size: 18px;
    color: #1F75FE;
    background-color: #fff;
    transition: .2s ease-in-out;
}

.register_link:hover {
    color: #ff3b3b;
}

.login_with_social {
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.login_with_social p {
    color: #525252;
    margin: 0 0 0 30px;
}

.social_btn {
    width: 80%;
    height: 50px;
    font-size: 18px;
    color: #174fa8;
    margin: 0 0 0 30px;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    background-color: #e7e7e7;
    transition: .2s ease-in-out;
}

.social_btn img {
    width: 20px;
    margin: 0 6px 0 0;
}

.social_btn:hover {
    color: #1F75FE;
}


/* Cart Popup */
.cart_container.popup_container {
    height: 90%;
    max-height: 900px;
    width: 70%;
    max-width: 1000px;
}

.cart_body {
    text-align: center;
    font-size: 28px;
    color: #2b2b2b;
    overflow: auto;
}

.cart_body img {
    padding: 25px 0 40px 0;
}

.cart_body p {
    font-size: 14px;
    padding: 20px 0;
    color: #525252;
}


/* Leftside menu */
.ls_menu.open_menu {
    left: 0;
}

.ls_menu_back {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 8;
    background-color: rgba(0, 0, 0, 0.5);
    transition: .4s ease;
}

.ls_menu {
    position: fixed;
    top: 0;
    left: -315px;
    width: 315px;
    max-width: 315px;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    transition: .5s ease;
    overflow: auto;
}
/* Leftside menu header  */
.ls_header {
    width: auto;
    height: 150px;
    background-color: #1C1C1C;
}

.ls_header_1 {
    height: 55px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 25px 0;
}

.ls_header_1 a {
    margin: 17px 80px 0 15px;
}

.lshead_img {
    width: 153px;
}

.lshead_btn {
    width: 40px;
    height: 40px;
    margin: 10px 10px 0 0;
    border-radius: 4px;
    color: #fff;
    background-color: #1C1C1C;
    transition: .2s ease-in-out;
}

.lshead_btn:hover {
    background-color: #2b2b2b;
}

.ls_header_2 {
    display: flex;
}

.lshead2_img {
    width: 40px;
    height: 40px;
    margin: 0 0 0 17px;
}

.lshead2_container {
    margin: 0 0 0 17px;
    color: #808080;
}

.lshead2_container a {
    width: auto;
    display: inline-block;
    font-size: 18px;
    color: #fff;
    padding: 0 0 10px 10px;
}

.lshead2_container a:first-child {
    border-right: 1px solid #fff;
    padding: 0 15px 0 0;
}

.lshead2_container a:hover {
    text-decoration: underline;
}
/* Leftside menu main */
.ls_main {
    width: 100%;
    height: auto;
}

.ls_main_btn {
    width: 280px;
    height: 50px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    margin: 5px 40px 5px 10px;
    transition: .3s ease-in-out;
}

.ls_main_btn:hover {
    background-color: #e7e7e7;
}

.ls_main_btn_container {
    width: 40px;
    height: 40px;
    background-color: #e7e7e7;
    border-radius: 20px;
    font-size: 22px;
    margin: 0 10px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Leftside info */
.ls_info_container {
    display: flex;
    flex-direction: column;
    border: none;
    border-top: 1px solid #e7e7e7;
    padding: 25px 20px 0 20px;
    font-size: 16px;
}

.ls_info_container h3 {
    display: inline-block;
    color: #808080;
    margin: 0 0 25px 0;
}

.ls_info_container a {
    color: #000;
    margin: 0 0 25px 0;
}

.ls_info_container a:hover {
    text-decoration: underline;
}
/* Leftside info services */
.ls_info_container.ls_services_container {
    height: 65px;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.ls_info_container.ls_services_container>div {
    display: flex;
    justify-content: space-between;
}

.ls_services_container button {
    width: 20px;
    height: 20px;
    background-color: #fff;
    font-size: 16px;
    transition: .4s linear;
}

.ls_info_container.ls_services_container.open_lsinfo_hidden {
    height: 231px;
}

.ls_info_container.ls_services_container.open_lsinfo_hidden button {
    transform: rotate(-180deg);
}
/* Leftside download links */
.ls_apps {
    border: none;
    border-top: 1px solid #e7e7e7;
    padding: 25px 20px 0 20px;
    font-size: 16px;
}

.ls_apps h3 {
    color: #808080;
}

.ls_apps div {
    height: 50px;
    margin: 15px 0;
    display: flex;
    justify-content: space-around;
}
/* Leftside social networks */
.ls_social {
    border: none;
    border-top: 1px solid #e7e7e7;
    padding: 25px 20px;
}

.ls_social>h3 {
    color: #808080;
    font-size: 16px;
    margin: 0 0 25px 0;
}

.ls_social_container {
    display: flex;
    justify-content: space-between;
}

.ls_socialapp {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: .7;
    transition: .2s ease;
}

.ls_socialapp:hover {
    opacity: 1;
}

.ls_socialapp.facebook {
    background-color: #174fa8;
}

.ls_socialapp.twitter {
    background-color: #75aaff;
}

.ls_socialapp.youtube {
    background-color: #f80000;
}

.ls_socialapp.insta {
    background-image: linear-gradient(to top right, orange 10%, purple);
}

.ls_socialapp.telegram {
    background-color: #1F75FE;
}
/* Layout main */
.layout_main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_container {
    width: 100%;
    max-width: 1646px;
    display: flex;
    justify-content: center;
    margin: 70px 30px 0 30px;
}


/* Aside */
.aside_main {
    border-right: 1px solid #e7e7e7;
    position: sticky;
    align-self: flex-end;
    bottom: 0;
}

.aside_container {
    width: 280px;
    border-bottom: 1px solid #e7e7e7;
}

.aside_container.catalog_categories ul li a::after {
    content: none;
}

.aside_container.catalog_categories ul li {
    width: 280px;
    margin: 0;
}

.aside_help_link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 40px;
    color: #174fa8;
    font-size: 16px;
    line-height: 20px;
    padding: 4px 4px 4px 10px;
    border-bottom: 1px solid #e7e7e7;
}

.aside_help_link:hover {
    color: #f80000;
}

.aside_help_link i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #808080;
    font-size: 20px;
    width: 38px;
}

.aside_register_container {
    height: 136px;
    background-color: #e7e7e7;
    color: #2b2b2b;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0;
}

.aside_register_container p:first-child {
    font-size: 18px;
    padding: 0 0 10px 0;
}

.aside_register_btn {
    height: 30px;
    width: 70%;
    background-color: #3466b6;
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    transition: .2s ease-in-out;
    margin: 10px 0 0 0;
}

.aside_register_btn:hover {
    background-color: #4481e2;
}


.aside_apps.ls_apps {
    padding: 20px;
    font-size: 14px;
}

.aside_apps.ls_apps div {
    height: 30px;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: space-evenly;
}

.aside_apps.ls_apps a img {
    display: block;
    width: 40px;
    height: 40px;
}

.aside_social.ls_social {
    padding: 20px;
}

.aside_social .ls_social_container {
    width: 210px;
}

.aside_social.ls_social>h3 {
    font-size: 14px;
    margin: 0 0 10px 0;
}

.aside_social.ls_social a {
    width: 32px;
    height: 32px;
}

.aside_social.ls_social a i {
    font-size: 14px;
}

.aside_info .ls_info_container {
    padding: 20px;
    padding-bottom: 0;
    font-size: 14px;
}

.aside_info .ls_info_container a {
    margin: 0 0 20px 0;
}

.aside_footer {
    padding: 20px;
    border-top: 1px solid #e7e7e7;
}

.aside_footer_btn {
    display: flex;
    justify-content: center;
    margin: 0 0 20px 0;
}

.aside_footer_btn button {
    background-color: #fff;
    margin: 0 25px 0 0;
}

.aside_footer_info {
    font-size: 12px;
}

.aside_footer_info p:first-child {
    color: #808080;
    margin: 0 0 15px 0;
}


/* Main container */
main {
    width: 81%;
    max-width: 1250px;
    padding: 40px 0 0 40px;
}
/* Main slider */
.main_slider {
    display: flex;
    position: relative;
    width: 100%;
    height: 20em;
    overflow: hidden;
    margin: 0 0 40px 0;
}

.main_slider_img_container {
    position: absolute;
    left: 0%;
    display: flex;
    width: 100%;
    height: 100%;
    transition: .9s ease-in-out;
}

.main_slider_img_container img {
    object-fit: cover;
    min-width: 100%;
    height: 100%;
}

.main_slider_btn {
    position: absolute;
    z-index: 2;
    right: 0;
    width: 25px;
    height: 100%;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    transition: .2s ease-in-out;
    opacity: .8;
}

.main_slider_btn i {
    transform: scale(1.5, 2.5);
}

.main_slider_btn:first-child {
    display: none;
    left: 0;
}

.main_slider_btn:hover {
    color: #1F75FE;
}
/* Main catalog for tablets */
.main_catalog_tablet {
    display: none;
}
/* Main button to open catalog for mobiles */
.main_mobile_catalog_btn {
    display: none;
}
/* Main offers */
.main_offers {
    width: 100%;
}

.main_offers_container {
    width: 100%;
    margin: 0 0 25px 0 ;
}


.main_offers_category {
    font-size: 22px;
    color: #1C1C1C;
    margin: 0 0 20px 0;
}
.main_offers_list {
    max-height: 300px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}
.main_offers_list.expanded {
    max-height: none;
}

.main_offers_elem {
    position: relative;
    width: 16.666667%;
    height: 300px;
    padding: 30px 10px 5px 10px;
    border: 1px solid #e7e7e7;
    border-top: none;
    border-left: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_offers_like_btn {
    width: 32px;
    height: 32px;
    margin: 7px 5px 0 0;
    border-radius: 4px;
    color: #FABC00;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.main_offers_like_btn:hover {
    background-color: #F5F5F5;
}

.main_offers_elem_img {
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_offers_elem_img img {
    width: 60%;
    max-width: 90px;
    max-height: 120px;
}

.main_offers_elem_name {
    height: 36px;
    font-size: 14px;
    color: #1C1C1C;
    margin: 20px 0 5px 0;
    line-height: 18px;
    white-space: nowrap;
    overflow: hidden;
}
.main_offers_elem_name:hover {
    color: #f80000;
    text-decoration: underline;
    opacity: .8;
}
.main_offers_elem .main_offers_elem_discount {
    visibility: hidden;
    line-height: 20px;
}
.main_offers_elem.dis .main_offers_elem_discount {
    visibility: visible;
    color: #808080;
    text-decoration: line-through;
    opacity: .8;
}

.main_offers_elem_price {
    font-size: 24px;
}
.main_offers_elem.dis .main_offers_elem_price {
    color: #ff3b3b;
}

.main_offers_elem_available {
    height: 25px;
    font-size: 12px;
    line-height: 25px;
}
.main_offers_elem_available.av:before {
    display: inline-block;
    content: "";
}
.main_offers_elem_available.end:before {
    content: "Ends";
    color: #f80000;
}
.main_offers_elem_available.no:before {
    content: "Not available";
    color: #2b2b2b;
}
/* Expand button */
.expand_btn_container {
    width: 100%;
    text-align: end;
}
.expand_btn {
    width: calc(16.666667% + 1px);
    height: 40px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    border-radius: 0 0 4px 4px;
    font-size: 14px;
    color: #4481e2;
}
.expand_btn:hover {
    color: #ff3b3b;
}
.expand_btn>i {
    margin: 0 0 0 6px;
    font-size: 12px;
}

.expand_btn.closed,
.main_offers_container.closed {
    display: none;
}
/* End of page loading element */
.end_content_loading {
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.end_content_loading_elem {
    width: 3em;
    height: 3em;
    border: 7px solid #e7e7e7;
    border-top: 7px solid #0000FF;
    border-radius: 50%;
    animation: 1s rotate360 infinite ;
}
@keyframes rotate360 {
    from {transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}



@media only screen and (max-width: 1366px) {
    .main_offers_elem {
        width: 20%;
    }
    .expand_btn {
        width: calc(20% + 1px);
    }
}

@media only screen and (max-width: 1279px) {
    .head_container {
        justify-content: space-around;
    }
    .head_container>a {
        margin-right: 15px;
    }
    .head_logo:first-child {
        display: block;
    }
    .head_logo:last-child {
        display: none;
    }
    .menu_btn {
        margin-right: 10px;
    }
    .search_form {
        width: 70%;
    }
    .user_actions {
        margin: 0 0 0 15px;
    }
    .user_acc,
    .user_orders {
        display: block;
        margin-left: 10px;
    }
    .catalog_btn {
        margin-right: 15px;
    }
    .catalog_categories {
        padding: 10px 5px;
    }
    .catalog_products ul {
        width: 200px;
        margin: 0 30px 0 0;
    }
    .catalog_products ul li .category_link,
    .catalog_products ul li {
        margin: 5px 0 4px 0;
    }
    .cart_container.popup_container,
    .popup_container {
        width: 80%;
    }
    .main_slider {
        height: 20em;
    }
    .main_offers_elem {
        width: 25%;
    }
    .expand_btn {
        width: calc(25% + 1px);
    }
}

@media only screen and (max-width: 1023px) {
    .aside_main {
        display: none;
    }
    .head_container {
        max-width: 1023px;
        justify-content: center;
        margin: 0 20px;
    }
    .user_actions {
        width: 15%;
    }
    .catalog_btn {
        display: none;
    }
    .catalog_head.login_head {
        display: flex;
    }
    .catalog_pop.popup {
        align-items: center;
        z-index: 6;
    }
    .catalog_container.popup_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        max-height: 800px;
        max-width: 700px;
        margin: 0;
    }
    .catalog_categories {
        padding: 0;
        width: 100%;
        height: auto;
        font-size: 20px;
        overflow: auto;
    }
    .catalog_categories>ul {
        margin: 5px 5px 0 5px;
    }
    .catalog_categories>ul li {
        width: 100%;
        line-height: 40px;
    }
    .catalog_categories>ul li a::after {
        font-size: 18px;
    }
    .catalog_container .catalog_categories>ul li:hover a::after {
        color: inherit;
    }
    .catalog_container .catalog_categories>ul li:hover a span {
        color: #f80000;
        text-decoration: none;
    }
    .catalog_categories>ul li i {
        margin: 0px 5px;
    }

    .to_all_categories {
        display: none;
        height: 40px;
        background-color: #fff;
        align-items: center;
        font-size: 16px;
    }
    .to_all_categories i {
        font-size: 14px;
        width: 40px;
        color: #525252;
    }
    .product_catalog {
        width: 100%;
        position: unset;
        flex-direction: column;
    }
    .product_catalog ul {
        margin: 0;
    }
    .catalog_products {
        overflow: auto;
        margin: 0;
    }
    .catalog_products ul {
        width: 100%;
    }
    .catalog_products ul li:first-child .category_link {
        margin: 5px 0 10px 0;
    }
    .catalog_products ul li .category_link {
        margin: 20px 0 5px 0;
    }
    .catalog_products ul li a {
        margin: 15px 0;
    }
    /* Main container */
    .main_container {
        margin: 70px 15px 0 15px;
    }
    main {
        width: 100%;
        padding: 15px 0;
    }
    .main_slider {
        margin: 0 0 20px 0;
    }
    /* Main catalog for tablets */
    .main_catalog_tablet {
        display: flex;
        width: 100%;
        overflow: hidden;
        font-size: 16px;
        padding: 15px 0;
        margin: 15px 0;
    }
    .main_catalog_tablet.catalog_categories>ul {
        width: 33.3%;
        border-right: 1px solid #D7D7D7;
    }
    .main_catalog_tablet.catalog_categories>ul:last-child {
        border-right: none;
    }
    .main_catalog_tablet.catalog_categories>ul li {
        width: 100%;
        padding: 0;
    }
    .main_catalog_tablet.catalog_categories>ul li i {
        font-size: 20px;
        margin: 0 5px 0 0;
    }
    .main_catalog_tablet.catalog_categories>ul li a::after {
        font-size: 16px;
        margin-right: 8px;
    }
}


@media only screen and (max-width: 767px) {
    .catalog_btn,
    .head_logo,
    .head_logo:first-child,
    .head_logo:last-child,
    .search_micro,
    .search_btn,
    .prem_offer,
    .head_container>a,
    aside {
        display: none;
    }
    header {
        padding: 0;
    }
    .head_container {
        justify-content: center;
        margin: 0 15px;
    }
    .menu_btn {
        margin: 0 15px 0 0px;
    }
    .search_form {
        width: 90%;
    }
    .user_actions {
        min-width: 0px;
        margin: 0 15px 0 10px;
    }
    .user_acc,
    .user_orders {
        display: block;
        margin-left: 15px;
    }
    .search_form_container {
        width: 100%;
    }
    .catalog_head.login_head {
        display: flex;
    }
    .catalog_container.popup_container {
        position: absolute;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        max-width: 767px;
        margin: 0;
    }
    .product_catalog {
        flex-direction: column;
    }
    .catalog_products ul li a {
        margin: 20px 0;
    }
    /* Log In Popup */
    .popup_container {
        width: 100%;
        max-width: 767px;
        max-height: 100%;
        border-radius: 0px;
    }
    .login_body {
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
    }
    .login_form,
    .signin_form {
        width: 100%;
        height: 100%;
    }
    .login_form form,
    .signin_form form {
        border: none;
        padding: 0;
    }
    .login_with_social {
        width: 100%;
        min-height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .login_with_social p {
        color: #525252;
        margin: 0;
    }
    .social_btn {
        width: 100%;
        height: 50px;
        font-size: 18px;
        color: #174fa8;
        margin: 0;
        border: 1px solid #D7D7D7;
        border-radius: 4px;
        background-color: #e7e7e7;
        transition: .2s ease-in-out;
    }
    .form_or {
        display: none;
    }
    /* Cart Popup */
    .cart_container.popup_container {
        width: 100%;
        height: 100%;
        max-width: 767px;
    }
    .cart_body img {
        width: 50%;
    }
    /* Leftside menu */
    .ls_menu {
        width: 100%;
        max-width: 315px;
    }
    /* Leftside menu header  */
    .ls_header_1 a {
        margin-right: auto;
    }
    /* Main slider */
    .main_slider {
        height: 15em;
    }
    .main_slider_img_container {
        transition: .5s ease-in-out;
    }
    /* Main catalog for tablets */
    .main_catalog_tablet {
        display: none;
    }
    /* Main button to open catalog for mobiles */
    .main_mobile_catalog_btn {
        display: inline-block;
        width: 100%;
        height: 40px;
        text-align: center;
        font-size: 18px;
        color: #fff;
        background-color: #0000FF;
        margin: 15px 0;
        border-radius: 4px;
        transition: .2s ease-in-out;
    }
    .main_mobile_catalog_btn:hover {
        background-color: #1F75FE;
    }
    .main_mobile_catalog_btn i {
        margin: 0 5px;
    }
    .main_offers_container,
    .main_offers_container:first-child {
        padding: 10px 0;
    }
    .main_offers_elem {
        width: 50%;
    }
    .expand_btn {
        width: calc(50% + 1px);
    }
}



@media only screen and (max-width: 600px) {
    .user_acc {
        display: none;
    }
    .head_container {
        max-width: 600px;
        justify-content: space-evenly;
        margin: 0;
    }
    .head_container>a {
        margin: 0;
    }
    .menu_btn {
        margin: 0 10px;
    }
    .search_form {
        width: 75%;
    }
    .search_form_container {
        width: 100%;
    }
    .search_field {
        padding: 0;
    }
    .user_actions {
        width: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0 10px;
    }
    .user_orders {
        margin: 0;
    }
    /* Catalog */
    .catalog_container.popup_container {
        max-width: 600px;
    }
    .product_catalog {
        flex-direction: column;
    }
    .catalog_products ul li a {
        margin: 20px 0;
    }
    /* Log In Popup */
    .popup_container {
        max-width: 600px;
    }
    /* Cart Popup */
    .cart_container.popup_container {
        max-width: 600px;
    }
    /* Main */
    .main_slider {
        height: 12em;
    }
    .main_offers_container,
    .main_offers_container:first-child {
        padding: 10px 0;
    }
}